.input-custom-wrap{
    input[type="checkbox"]{
        position: absolute;
        width: 0px;
        height: 0px;
        padding: 0;
        margin: -1px;
        & + label{
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            &::before{
                content: "";
                width: 24px;
                height: 24px;
                margin-right: 12px;
                border-radius:4px;
                box-sizing: border-box;
                border:1px solid $border-gray
            }
        }
        &:checked{
            & + label{
                &::before{
                    border:none;
                    background:$mainColor url('/assets/svg/check-icon.svg') no-repeat 50%;
                }
            }
        }
    }
}

//삭제버튼있는 input
.input-custom-wrap{
    position: relative;
    .red-color-font{
        position: absolute;
        right: 16px;
        top:15px;
        font-weight: 600;
        line-height: $size-md;
    }
}

.form-custom{
    >label{
        line-height: $size-md;
        display: inline-block;
        margin-bottom:8px;
        &.must{
            &::after{
                content: "*";
                color:$mainColor;
                padding-left:4px;
            }
        }
    }
    &.error{
        input{
            border:1px solid $red;
        }
    }
}
//selectBox
select,input{
    width: 100%;
    height: 48px;
    border:1px solid $border-gray;
    padding:0 12px;
    border-radius: 4px;;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding-right:32px;
    background: url('/assets/svg/select-dropdown.svg') no-repeat  right 9px  bottom 50%;;
    &:disabled{
        background-color: #F8F8F8;
        color:#888888;
    }
    
}


//calendar
input[type='date'] {
  position: relative; // 캘린더 아이콘을 클릭해야만 달력이 보이기 때문에 이 영역 자체를 제어하기 위해 설정 
  width: 100%;
  background: url('/assets/svg/calendar.svg') no-repeat right 10px center; // 배경에 커스텀 아이콘을 넣어주자! x축은 오른쪽에서부터 10px 떨어지게 하고, y축은 가운데 정렬하고, width 35px에 height auto라는 크기를 부여한다.
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
    &::-webkit-calendar-picker-indicator {
        position: absolute; // 이를 설정하기 위해 사전에 relative를 설정한 것이다.
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: transparent; // 배경은 투명하게,
        color: transparent; // 글자도 투명하게! 이 두 설정을 통해 캘린더 아이콘을 사라지게 만든다.
        cursor: pointer;
    }
    &::before{
        content: attr(placeholder); // input 태그의 placeholder라는 속성값을 가져와서 content로 사용한다. 보통은 placeholder보다는 data-placeholder라는 커스텀 속성을 만들어서 사용하시는 것 같다.
        width: 100%;
        height: 100%;
    }
    &:valid::before{
        display: none; 
    }
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

//file
.filebox{
    .file-list-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 48px;
        padding: 0 16px;
        vertical-align: middle;
        border: 1px solid $border-gray;
        background-color: #F8F8F8;
        width: 100%;
        color: #888888;
        .file-name{
            color:$black;
            max-width: 80%;
            text-decoration: underline;
            word-break: break-all;
            text-decoration: underline;
        }
        .red-color-font{
            font-weight: 600;
        }
    }
    label{
        display:block;
        margin-top: 8px;
        cursor: pointer;
        font-weight: 600;
        text-align: center;

    }
     input[type="file"] {
        position: absolute;
        width: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        border: 0;
    }
}

//switch
.switch {
    position: relative;
    display: inline-block;
    width:40px;
    height:24px;
    input { 
        opacity: 0;
        width: 0;
        height: 0;
        &:checked + .slider{
            background-color: $mainColor;
            &::after{
                content: "Y";
                color:$white;
                right:25px;
            }
        }
        &:checked + .slider::before{
            -webkit-transform: translateX(16px);
            -ms-transform: translateX(16px);
            transform: translateX(16px);
        }
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50px;
        background-color: #DDDDDD;
        -webkit-transition: .4s;
        transition: .4s;
        &:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 4px;
            bottom: 4px;
            border-radius:50%;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        &::after{
            content: "N";
            color: $white;
            font-size: 12px;
            position: absolute;
            right:7px;
            top:4px;
            font-weight: 600;
        }
    }
}
//textarea
textarea{
    width: 100%;
    height: 168px;
}
//disable design
input:disabled{
    background-color: #F8F8F8;
}