$mainColor:#1D40A3;
$black:#111111;
$white:#ffffff;
$red:#EE3E33;
$main-gray:#F2F2F2;
$font-gray:#888888;
$input-bg-gray:#F8F8F8;
$border-gray:#EEEEEE;

$font-14:14px;
$font-16:16px;
$font-18:18px;
$font-20:20px;
$font-22:22px;
$font-24:24px;

$size-xs:$font-14;
$size-sm:$font-16;
$size-md:$font-18;
$size-lg:$font-20;
$size-xl:$font-22;
$size-xxl:$font-24;

$base-font-size:$size-xs;
